<% provide(:title, "Home") %>

<%= image_tag("blackboard.png") %>

<h1>Heading 1</h1>

<% 2. times do %>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat consectetur rhoncus. Donec sed dui cursus, semper lacus eu, semper mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas dictum, libero in maximus pellentesque, urna lorem tincidunt lorem, id gravida lectus justo eget ex. In finibus suscipit lacus. Sed porttitor sodales mauris sed interdum. Cras sed malesuada neque. Proin nec nunc diam.
	</p>
<% end %>

<section id="image">
	<%= image_tag("blackboard.png") %>
	<%= image_tag("blackboard.png") %>
	<%= image_tag("blackboard.png") %>
</section>

<br/> 

<%= render "shared/footer" %>