<% provide(:title, "Create Relationship") %>

<p id="alert"><%= alert %></p>

<h1>Create Association Between User and Course</h1>

<%= form_for @user_course do |f| %>
  	<% if @user_course.errors.any? %>
    	<div id="error_explanation">
      	<h2><%= pluralize(@user_course.errors.count, "error") %> prohibited this user from being saved:</h2>
      	<ul>
      		<% @user_course.errors.full_messages.each do |message| %>
        		<li><%= message %></li>
      		<% end %>
    	</ul>
    	</div>
	<% end %>

<% # If current user is admin, then show all courses as checkboxes, else show current user's courses %>
	<div class="field">
		<h2>Select Course</h2>
      <% if current_user.admin != 3 %>
        <%= f.collection_check_boxes :course_id, current_user.course.all, :id, :name do |course| %>
          <div class="collection-check-box">
              <%= course.check_box %>
              <%= course.label %>
          </div>
        <% end %>
      <% else %>
        <%= f.collection_check_boxes :course_id, Course.all, :id, :name do |course| %>
          <div class="collection-check-box">
            <%= course.check_box %>
            <%= course.label %>
          </div>
        <% end %>
    <% end %>
	</div>

<% # Show all users as checkboxes if they were student or lecturer %>
	<div class="field">
		<h2>Select User</h2>
    	<%= f.collection_check_boxes :user_id, @user, :id, :name do |user| %>
    		<div class="collection-check-box">
      			<%= user.check_box %>
      			<%= user.label %>
        </div>
      <% end %>
	</div>

	<div class="actions">
    	<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Back', display_course_path %>