<% provide(:title, @user.name) %>

<p id="notice"><%= notice %></p>

<p>
	<strong>Name: </strong>
	<%= @user.name %>
</p>

<p>
	<strong>Email: </strong>
	<%= @user.email %>
</p>

<p>
	<strong>Password digest: </strong>
	<%= @user.password_digest %>
</p>

<p>
	<strong>Type of User: </strong>
	<% case @user.admin %>
		<% when 1 %>
			Student
		<% when 2 %>
			Lecturer
		<% else %>
			Admin
		<% end %>
</p>

<%= link_to 'Back', users_index_path %>