<%= form_for @content do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :course_id, "Select which course to save this content from" %>
    <% if current_user.admin == 3 %>
      <%= f.select :course_id, Course.all.collect { |course| [ course.name, course.id ] } %>
    <% else %>
      <%= f.select :course_id, current_user.course.all.collect { |course| [ course.name, course.id ] } %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>