<div class = "nested-fields">
	<hr>
	<%= f.label :name, required: true %>
	<%= f.text_field :name %>

	<%= f.label :description, required: true %>
	<%= f.text_area :description %>

	<%= link_to_remove_association 'Remove Content', f %>
	<hr>
</div>