<% # Display content form from new course %>

<div class = "nested-fields">
	<hr>
	<div class="field">
		<%= f.label :name, required: true %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :description, required: true %>
		<%= f.text_area :description %>
	</div>

	<% # Remove contents from course form %>

	<%= link_to_remove_association 'Remove Content', f %>
	<hr>
</div>