<% if current_user.admin != 1 %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Info</th>
        <th>Description</th>
        <th>Subject</th>
        <th>Study</th>
      </tr>
    </thead>

    <tbody>
      <% if current_user.admin != 3 %>
        <% current_user.course.each do |course| %>
          <tr>
            <td>
              <%= course.name %>
            </td>
            <td>
              <%= course.info %>
            </td>
            <td>
              <%= course.description %>
            </td>
            <td>
              <%= course.subject %>
            </td>
            <td>
              <%= course.study %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <% @courses.each do |course| %>
          <tr>
            <td>
              <%= course.name %>
            </td>
            <td>
              <%= course.info %>
            </td>
            <td>
              <%= course.description %>
            </td>
            <td>
              <%= course.subject %>
            </td>
            <td>
              <%= course.study %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= button_to "Modify Courses", display_course_path, :method => :get %>
<% end %>

<% if current_user.admin != 3 %>
  <table>
    <tbody>
      <% current_user.course.each do |course| %>
        <tr>
          <td>
            <%= course.name %>, <%= course.info %>, <%= course.description %>, <%= course.subject %>,
            <%= course.study %>
          </td>
          <td>
            <%= button_to "View Contents", content_path(course), :method => :get %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>