<% provide(:title, "Course Content") %>
<h1>Course Contents : <%= @course.name %></h1>

<% if current_user.admin != 1 %>
	<%= link_to 'Create New Contents', new_content_path %>
<% end %>

<% @contents.each do |content| %>
	<hr>
	<h2><%= content.name %></h2>
	<p><%= content.description %></p>
	<% if current_user.admin != 1 %>
		<%= link_to 'Edit', edit_content_path(content) %> <%= link_to 'Delete', content, method: :delete_content, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>