<% provide(:title, "Course Details") %>

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Study</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.name %>
        </td>
        <td>
          <%= course.info %>
        </td>
        <td>
          <%= course.description %>
        </td>
        <td>
          <%= course.subject %>
        </td>
        <td>
          <%= course.study %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_courses_path %>